<div class="d-flex flex-column align-items-center">
    <h2>All Celebrities</h2>
    <div class="list-group">
        {{#each this.allCelebrities}}
            <li class="list-group-item list-group-item-action">{{this.name}}</li>
        {{/each}}
    </div>
</div>