<div class="d-flex flex-column align-items-center">
<div class="card d-flex flex-column align-items-center">
<h2>Create Celebrity</h2>
<div class="card-body">
<form action="/celebrities/create" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" class="form-control">
    <br>
    <label for="name">Ocupation: </label>
    <input type="text" name="ocupation" class="form-control">
    <br>
    <label for="name">Catch Phrase: </label>
    <input type="text" name="catchPhrase" class="form-control">
    <br>
    <button class="btn btn-info">Create Celebrity</button>

</form>
</div>
</div>
</div>